<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Voxilud-08/src/fr/voxilud/administration/AppAdministration.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="fr.voxilud.administration.AppAdministration"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Voxilud-08"/>
</launchConfiguration>
